<h1 class="govuk-heading-l govuk-!-margin-top-9">{{ country_bloc }}</h1>
<h2 class="govuk-heading-m govuk-!-margin-top-2">Proving originating status and claiming preferential treatment</h2>

<p>The customs authority of the importing party will grant preferential tariff treatment, based on a claim made by the importer, to goods that originate in the other party that meet the conditions of the Trade Agreement.</p>

<p>A claim can be made if the importer has one of the following proofs of origin:</p>

<ul class="govuk-list steps">
{{ steps }}
</ul>